<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{/include/layout}">
	<th:block layout:fragment="content">	
		<link th:href="@{/css/board/list.css}" rel="stylesheet">
		<link th:href="@{/css/include/paging.css}" rel="stylesheet">
		<script th:src="@{/js/jquery-3.7.1.js}"></script>
		<section>
		<div id="section_wrap">
			<div class="word">
				<h3>채팅방 목록</h3>
			</div><br>
			<div class="board_list">
				<table>
					<colgroup>
						<col width="10%">
						<col width="50%">
						<col width="20%">
						<col width="20%">
					</colgroup>
					<thead>
						<tr>
							<th>번호</th>
							<th>상대방</th>
							<th colspan="2">마지막 메시지</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.isEmpty(chatRoomList)}">
							<td colspan="4">채팅방이 없습니다.</td>
						</tr>
						<tr th:if="${!#lists.isEmpty(chatRoomList)}"
							th:each="chatRoom, chatRoomStatus : ${chatRoomList}"
							th:attr="data-room-no=${chatRoom.roomNo}">
							<td th:text="${(pageDto.numPerPage * (pageDto.nowPage-1))+ chatRoomStatus.count}">번호</td>
							<!-- <td th:text="${chatRoom.toMember.memberName}">상대방</td> -->
							
							<td th:if="${chatRoom.toMember.memberName == #authentication.principal.member.memberName}"
								th:text="${chatRoom.fromMember.memberName}">
								채팅방 초대자와 로그인 사용자가 일치할 경우
							</td>
							<td th:if="${chatRoom.fromMember.memberName == #authentication.principal.member.memberName}"
								th:text="${chatRoom.toMember.memberName}">
								채팅방 생성자와 로그인 사용자가 일치할 경우
							</td>
							
							<td th:text="${chatRoom.lastMsg}">마지막 메시지</td>
					      	<td th:text="${#temporals.format(chatRoom.lastDate, 'yy-MM-dd')}">작성일시</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>	
	<div class="center">
		<div class="pagination">
			<a th:if="${pageDto.prev}" th:href="@{/chat/list(nowPage=${pageDto.pageBarStart-1})}">
				&laquo;
			</a>
			<th:block th:each="num : ${#numbers.sequence(pageDto.pageBarStart,pageDto.pageBarEnd)}">
	    		<a class="page-link" th:classappend="${pageDto.nowPage == num} ? 'active'" 
	    		th:href="@{/chat/list(nowPage=${num})}"
	    		th:text="${num}">
	    		</a>
	    	</th:block>
			<a th:if="${pageDto.next}" 
			th:href="@{/chat/list(nowPage=${pageDto.pageBarEnd+1})}">
				&raquo;
			</a>
		</div>
	</div>
	<script>
		$('.board_list tbody tr').on('click',function(){
			const roomNo = $(this).data('room-no');
			location.href="/chat/detail/"+roomNo;
		});
	</script>
    </th:block>
</html>