<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{/include/layout}">
	<th:block layout:fragment="content">	
		<link th:href="@{/css/board/create.css}" rel="stylesheet">
		<section>
			<div id="section_wrap">
				<div class="word">
					<h3>게시글 등록</h3>
				</div><br>
				<div class="register_board_form">
					<form action='/board/create' name="create_board_form" method="post" enctype="multipart/form-data">	
						<input type="text" name="board_title" placeholder="제목을 입력하세요."> <br>
						<input type="text" name="board_content" placeholder="내용을 입력하세요."><br>
						<input type="text" name="board_writer" placeholder="작성자를 입력하세요."> <br>
						<input type="file" name="thumbnail" accept=".png,.jpg,.jpeg"><br>
						<input type="submit" value="등록"> 
					</form>
				</div>
			</div>
		</section>		
		<script>
			const form = document.create_board_form;
			form.addEventListener('submit',(e)=>{
				e.preventDefault();
				let vali_check = false;
				let vali_text = "";

				if(!form.board_title.value){
					vali_text += "제목을 입력하세요.";
					form.board_title.focus();
				} else if(!form.board_content.value){
					vali_text += "내용을 입력하세요.";
					form.board_content.focus();
				} else if(!form.board_writer.value){
					vali_text += "작성자를 입력하세요.";
					form.board_writer.focus();
				}else if (!form.thumbnail.value) {
					vali_text+='이미지 파일을 선택하세요.';
					form.thumbnail.focus();	
				} else if(form.thumbnail.value){
					const val = form.thumbnail.value;
					const idx = val.lastIndexOf('.');
					const type = val.substring(idx+1,val.length);
					if(type=='jpg'||type=='png'||type=='jpeg'){
						vali_check = true;
					} else{
						vali_text += '이미지 파일만 선택할 수 있습니다.';
						form.thumbnail.value = '';
					}
				} 
				
				if(vali_check == false){
					alert(vali_text);
				} else{
					const payload = new FormData(form);
					fetch("/board/create",{
						method : 'post',
						body : payload
					})
					.then(response => response.json())
					.then(data => {
						alert(data.res_msg);
					})
				}
			}) 
		</script>
    </th:block>
</html>