<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>홈화면</title>
</head>
<body>
	<div>
		<form th:action="@{/}" method="get">
			<label for="search_text">내용 : </label>
			<input type="text" name="search_text" id="search_text">
			<input type="submit" name="검색">
		</form>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>완료</th>
					<th>번호</th>
					<th>내용</th>
					<th>날짜</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(resultList)}">
					<td colspan="5"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>